<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>J2EEProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet> 
  <servlet-name>FirstServlet</servlet-name>
  <servlet-class>com.day1.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>FirstServlet</servlet-name>
  <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  
  <servlet> 
  <servlet-name>ThirteenthServlet</servlet-name>
  <servlet-class>com.pack.ThirteenthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ThirteenthServlet</servlet-name>
  <url-pattern>/ThirteenthServlet</url-pattern>
  </servlet-mapping>
  <context-param>
  <param-name>email</param-name>
  <param-value>abc.com</param-value>
  </context-param>
  <context-param>
  <param-name>website</param-name>
  <param-value>xyz.com</param-value>
  </context-param>
  
  <servlet> 
  <servlet-name>SixteenthServlet</servlet-name>
  <servlet-class>com.pack.SixteenthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SixteenthServlet</servlet-name>
  <url-pattern>/SixteenthServlet</url-pattern>
  </servlet-mapping>
  
 <servlet>

     <servlet-name>hello</servlet-name>
     <jsp-file>/config.jsp</jsp-file>
     <init-param>
      <param-name>qualification</param-name>
       <param-value>BE</param-value>
     </init-param>
     <init-param>
      <param-name>dept</param-name>
       <param-value>Software</param-value>
     </init-param>   
 
  </servlet>
  <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/config.jsp</url-pattern>
  </servlet-mapping>
<servlet>
         <servlet-name>FirstServlet1</servlet-name>
         <servlet-class>com.pack.FirstServlet1</servlet-class>
</servlet>  
<servlet-mapping>
         <servlet-name>FirstServlet1</servlet-name>
         <url-pattern>/FirstServlet1</url-pattern>
</servlet-mapping>

<servlet>
         <servlet-name>Servlet11111</servlet-name>
         <servlet-class>com.pack.Servlet11111</servlet-class>
</servlet>
<servlet-mapping>
          <servlet-name>Servlet11111</servlet-name>
          <url-pattern>/Servlet11111</url-pattern>
</servlet-mapping>


<servlet>
       <servlet-name>AUserPassLogin</servlet-name>
       <servlet-class>com.pack.AUserPassLogin</servlet-class>
       <init-param>
                   <param-name>Address</param-name>
                   <param-value>chennai</param-value>
       </init-param>       
</servlet>
<servlet-mapping>
      <servlet-name>AUserPassLogin</servlet-name>
      <url-pattern>/AUserPassLogin</url-pattern>
</servlet-mapping>





<servlet>
         <servlet-name>LoginServlet</servlet-name>
         <servlet-class>com.pack.LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
          <servlet-name>LoginServlet</servlet-name>
          <url-pattern>/LoginServlet</url-pattern>
</servlet-mapping>
<servlet>
         <servlet-name>SuccessServlet</servlet-name>
         <servlet-class>com.pack.SuccessServlet</servlet-class>
</servlet>
<servlet-mapping>
         <servlet-name>SuccessServlet</servlet-name>
         <url-pattern>/SuccessServlet</url-pattern>
</servlet-mapping>

<servlet>
         <servlet-name>AJDBCDatabase</servlet-name>
         <servlet-class>com.pack.AJDBCDatabase</servlet-class>
</servlet>
<servlet-mapping>
         <servlet-name>AJDBCDatabase</servlet-name>
         <url-pattern>/AJDBCDatabase</url-pattern>
</servlet-mapping>




</web-app>
